.close-btn {
  position: absolute;
  top: -47px;
  right: 8px;
  transition: opacity 1s linear;
}

.close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .close-btn {
    right: -42px;
  }
}
