.overlay {
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s linear;
}
