.popup__create-btn {
  border: 0;
  margin: 0;
  padding: 14px 0;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  transition: opacity 1s linear;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.popup__create-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .popup__create-btn {
    font-size: 18px;
    line-height: 22px;
  }
}
