.profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.25rem;
}

@media screen and (min-width: 1280px) {
  .profile-info {
    flex-direction: row;
    column-gap: 30px;
    padding-bottom: 0;
  }
}
