.profile-info__job {
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (min-width: 1280px) {
  .profile-info__job {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
